<div class="non_sponsors">	
	<h5>Other Sites</h5>

	<div class="non_sponsors_box">	
		<div class="non_sponsorcheckbox">
			<%= check_box_tag :moosejaw %>
			<%= label_tag :moosejaw, "MooseJaw"%>	      
		</div>	

		<div class="non_sponsorcheckbox">
			<%= check_box_tag :dogfunk %>
			<%= label_tag :dogfunk, "DogFunk"%>     
		</div>	

		<div class="non_sponsorcheckbox">
			<%= check_box_tag :erehwon %>	
			<%= label_tag :erehwon, "Erehwon"%>	     
		</div>
	</div>
	<div class="non_sponsors_box">	
		<div class="non_sponsorcheckbox">
			<%= check_box_tag :gearx %>	
			<%= label_tag :gearx, "GearX"%>	     
		</div>

		<div class="non_sponsorcheckbox">
			<%= check_box_tag :altrec %>	
			<%= label_tag :altrec, "Altrec"%>	     
		</div>

		<div class="non_sponsorcheckbox">
			<%= check_box_tag :ems %>	
			<%= label_tag :ems, "EMS"%>	     
		</div>
	</div>	
	<div class="non_sponsors_box">	
		<div class="non_sponsorcheckbox">
			<%= check_box_tag :sierratradingpost %>	
			<%= label_tag :sierratradingpost, "Sierra Trading Post"%>	     
		</div>

		<div class="non_sponsorcheckbox">
			<%= check_box_tag :skis %>	
			<%= label_tag :skis, "Skis.com"%>	     
		</div>

		<div class="non_sponsorcheckbox">
			<%= check_box_tag :thehouse %>	
			<%= label_tag :thehouse, "The-House.com"%>	     
		</div>
	</div>	
</div>