	<%= form_tag("/results", :method => "get") do %>
	
		<div class="searchbox">
			<div class="field">
      			<%= text_field_tag :keyword, nil, :placeholder=> "Search for gear..." %>
			</div>
		</div>
		<div class="buttons">
			<div class="choosesites">
				<a href="#">Choose Sites</a>
			</div>
 		
			<div class="submit">
				<p><%= submit_tag "Search" %></p>
			</div>
		</div>
		<div class="clear">
		</div>

	<div id="siteselect">
		<%= render 'sponsors' %>
		<%= render 'non_sponsors' %>
	</div>

	<% end %>