<div class="sponsors">	
	<h5>Sponsored Sites</h5>

	<div class="sponsorcheckbox">
		<%= check_box_tag :backcountry%>
		<%= label_tag :backcountry, "Backcountry.com"%>	      
	</div>	

	<div class="sponsorcheckbox">
		<%= check_box_tag :rei %>
		<%= label_tag :rei, "REI.com"%>     
	</div>	

	<div class="sponsorcheckbox">
		<%= check_box_tag :evo %>	
		<%= label_tag :evo, "Evo.com"%>	     
	</div>
</div>