<!DOCTYPE html>
<html>
<head>
  <title>Gearsearch</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= render "layouts/header" %>

<div id="content">

<%= yield %>

</div>
</body>
</html>
